@model CharacterViewModel

@{
    ViewData["Title"] = "Character Creator";
}

<h1 class="display-3">@Model.Name</h1>

@if (String.IsNullOrWhiteSpace(Model.Subrace))
{
    <h3 class="text-primary">@Model.Race</h3>
}
else
{
    <h3 class="text-primary">@Model.Subrace @Model.Race</h3>
}

<h3 class="text-primary">@Model.Subclass @Model.Class</h3>

<hr />

<div class="container my-5">
    <div class="row">
        <p class="col-2 text-center">Strength</p>
        <p class="col-2 text-center">Dexterity</p>
        <p class="col-2 text-center">Constitution</p>
        <p class="col-2 text-center">Intelligence</p>
        <p class="col-2 text-center">Wisdom</p>
        <p class="col-2 text-center">Charisma</p>
    </div>
    <div class="row">
        <p class="col-2 text-center">20 (+5)</p>
        <p class="col-2 text-center">20 (+5)</p>
        <p class="col-2 text-center">20 (+5)</p>
        <p class="col-2 text-center">20 (+5)</p>
        <p class="col-2 text-center">20 (+5)</p>
        <p class="col-2 text-center">20 (+5)</p>
    </div>
</div>